@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20 px;
}

picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    padding: 5px;
    border-collapse: collapse;
}

th{
    color: aliceblue;
    background-color: rgb(8, 8, 139);
}

tr, th, td{
    padding: 5px;
}


#foto {
    height: 400px;
    justify-content: center;
    align-items: center;
}

#sobre{
    padding: 15px;
    border-radius: 5px; 
    box-shadow: 0px 0px 5px  blue;
    margin: 20px;
}

body {
    margin: 0px;
    background-color: aliceblue;
}
			
h1 {
    text-align: center;
}

p {
	text-align:justify;
}

header {
    background-color: black;
}

iframe{
    width: 50vw;
    height: 23.3vw;
    max-height: 100vh;
    max-width: 177.78vh;
    top: 120px;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    contain: layout;
    margin-left: 14%;
    margin-right: 14%;
    border-radius: 3px;
    padding: 20px;
    font-size: large;
}

nav#menu {
    margin: 0px;
    padding: 0px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav#menu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
}

nav#menu ul li a {
    border: 0cap;
    display: block;
    width:max-content;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

nav#menu ul li {
    display: inline-block;
    vertical-align: middle;
}

#menu ul li a:hover {
    display: inline-block;
    color: darkgrey;
}

.active-index {
    background-color:rgba(233, 41, 41, 0.952);
    color: white;
}

.active-integrantes {
    background-color:rgba(247, 192, 13, 0.863);
    color: white;
}

.active-sobre {
    background-color: rgb(8, 8, 139);
}

.active-contato {
    background-color: rgb(29, 139, 29);
}

.active-galeria {
    background-color: rgb(63, 62, 62);
}

.container {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
    "link1 image"
    "link2 image"
    "link3 image"
    "link4 image";
}

.container div a {

    border: 0cap;
    display: block;
    width:max-content;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    padding-top: 23px;
    padding-bottom: 23px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
}

.container div a:hover{
    background-color: rgba(209, 201, 201, 0.24);
}

.container > div {
    display:grid;
    background-color: rgba(209, 201, 201, 0.452);
    margin: 4px;
    border-radius: 8px;
}

#image {
    grid-area: image;
    display: flex;
    height: 300px;
    margin-left: 20%;
}

#link1 {
    grid-area: link1;
    background-color:black;
    justify-content: center;
    align-items: center;

}

#link2 {
    grid-area: link2;
    background-color:black;
    justify-content: center;
    align-items: center;
}

#link3 {
    grid-area: link3;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#link4 { 
    grid-area: link4;
    background-color:black;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer > a {
    color: rgb(172, 168, 168);
}