* {
    font-family: Popins, 'Times New Roman', Times, serif;
    font-size: 20 px;
}

body {
    margin: 0px;
}
			
p, h1, h2, h3{
			text-align: justify;
            padding: 0px 280px 20px 280px;
}

a {
    font-style: normal;
    color: black;
    text-decoration: none;
    padding-left: 38px;
    padding-right: 38px;
}

header {
    background-color: black;
}

nav {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 3px 10px  grey;
}
