* {
    font-family: Popins, 'Times New Roman', Times, serif;
    font-size: 20 px;
    padding: 0px 120px 20px 120px;
}

body {
    margin:0px;
}
			
p, h1, h2, h3 {
			text-align: justify;
			line-height:2;
            }